.nft{
        position: "";
        padding-left: 16px;
        top: 112;
        font-size: 18;
        font-weight: 600;
        text-align: "left";
        color: "#181818";
    
}
.nred{
        padding-left: 50%;
        color: red;
}