.backg{
    width: 100%;
}
.text-lk{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    background-color: #b9b9b9b0;
    position: fixed; 
    top: 50%;
    right: 0;
    left: 0;
    padding: 35px;
}